---
layout: default
---


      <section class="image">
        <div class="image-wrapper">
          <img src="https://picsum.photos/809/307" alt="">
        </div>
      </section>
      <section class="main">
        {% for post in site.posts %}
        <article class="post">
          <h2 class="post-heading">
            {{post.title}}
          </h2>
          <p class="post-meta">{{ site.time }}</p>
          <p class="post-content">{{post.content | truncate:200 }}</p>
        </article>
        {% endfor %}
        <hr>

      </section>

      <section class="aside">
        {% for post in site.posts %}
        <h2 class="blog-roll">
          {{ post.title }}
          <hr>
        </h2>
        {% endfor %}
      </section>
