body{
  background:#fff;
  box-sizing:border-box;
}
.container{
  max-width:50rem;
  margin:0 auto;
}
.wrapper{
  display:grid;
  grid-template-areas: 'header header header header'
                       'image image image aside'
                       'main main main aside'
                       'footer footer footer footer';
  grid-template-rows:13vh 30vh 45vh 10vh;
  grid-gap: 0px;
  background-color: ;
  padding: 0px;

}
.header{
  grid-area: header;
}
.image{
  grid-area: image;
}
.main{
  grid-area: main;
}
.aside{
  grid-area: aside;
}
.footer{
  grid-area: footer;
}
.wrapper>section {
  border:1px solid #ccc;
  text-align: center;
  padding:20px 0;
  font-size: 30px;
}
