---
title: Album
---
{% include head.html %}
<div class="container">
  <!-- <div class="wrapper"> -->
    <section class="header">
      <div class="color-header">
        <nav class="menu">

     {% for p in site.pages %}

         <a href="{{ p.url }}">{{ p.title }}</a>

     {% endfor %}

        </nav>
      </div>
      <h1 class="main-heading">Dagbok/Blogg 2018</h1>

    </section>
<div class="gallery">
{% for post in site.posts %}

    <div class="single-img">
      <h3 class="img-text">{{post.date | date_to_string}}</h3>
      <a href="{{post.image_path}}"><img src="{{baseurl}}/{{ post.image_path}}" alt=""></a>
    </div>

{% endfor %}
</div>
</div>
<!-- </div> -->


<style>
  .gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, auto ));
    grid-gap:10px;

  }

  .single-img {
    max-width: 100%;
    height:auto;
    position: relative;
  }
  img{
    width:100%;
    height:auto;
    display:blog;
  }
  h3.img-text{
    position: absolute;
    top:0;
    left:0;
    color:white;
    background: black;
    font-family: verdana;
    font-weight: 400;
    font-size: 16px;

  }


</style>
