<body>
  <div class="container">
    <div class="wrapper">
      <section class="header">
        <h1 class="main-heading">Dagbok/Blogg 2018</h1>
        <div class="color-header">
          <nav class="menu">

               {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
               {% for p in navigation_pages %}
                 {% if p.navigation_weight %}

                     <a href="{{ p.url | prepend: site.baseurl }}" {% if p.url == page.url %}class="active"{% endif %}>
                       {{ p.title }}
                     </a>

                 {% endif %}
               {% endfor %}

          </nav>
        </div>


      </section>
