---
layout: default
---


<section class="main">

  <article class="post">

    <p class="post-meta">{{ page.date | date_to_string }}</p>
    <section class="image">
      <div class="image-wrapper">
        <img src="{{baseurl}}/{{ page.image_path }}" alt="">
      </div>

    </section>
      <h2 class="post-heading">
        {{page.title}}
      </h2>
    <p class="post-content">{{ content }}</p>

  </article>

</section>

<section class="aside">
  <h2 class="blog-roll">De senaste artiklarna;</h2> <br> {% for post in site.posts %}
  <h2 class="blog-roll">
    <a href="{{baseurl}}{ post.url }}">{{ post.title }}</a>
    <hr>
  </h2> {% endfor %}
</section>
